## Q1. Join tuples if similar initial element.

In [13]:
List=[(5,6),(5,7),(5,8),(6,10),(7,13)]

print("The original List is:")
print(List)

result=[]
for sub in List:
    if result and result[-1][0]== sub[0]:
        result[-1].extend(sub[1:])
    else:
        result.append([ele for ele in sub])
    
print("The joined List is:")
print(result)

The original List is:
[(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
The joined List is:
[[5, 6, 7, 8], [6, 10], [7, 13]]

## Q2.Multiply adjacent elements (both side) and take sum of right and left side multiplication result.

In [24]:
my_tuple_1 =(1,5, 7, 8, 10)

print("The tuple is:")
print(my_tuple_1)

my_result=tuple(i*j for i,j in zip(my_tuple_1, my_tuple_1[1:]))

print("The tuple after multiplication :")


print(my_result)

The tuple is:
(1, 5, 7, 8, 10)
The tuple after multiplication :
(5, 35, 56, 80)

## Q3.Check is tuples are same or not?

In [37]:
t1=(1,2,3,0)
t2=(0,1,2,3)

if (t1==t2):
   print(False)
else:
 ("t1 is not equal to t2")
 print(True)
 print("t1 and t2 are not same")

True
t1 and t2 are not same

## Q4.Count no of tuples, list and set from a list.

In [13]:
list1=[{'hi','bye'},{'Geeks','forGeeks'},('a','b'),['hi','bye'],['a','b']]

count_tuples=0
count_lists=0
count_sets=0


for item in list1:
 if isinstance(item, tuple):
        count_tuples+=1
 elif isinstance(item, list):
        count_lists+=1
 elif isinstance(item, set):
        count_sets+=1
        
print("number of tuples:", count_tuples)
print("number of lists:", count_lists)
print("number of sets:", count_sets)

number of tuples: 1
number of lists: 2
number of sets: 2

## Q5.Shortlist students for job role.

In [17]:
num_records = int(input("enter no. of records:"))
students=[]

for i in range(num_records):
    print(f"enter details of student-{i + 1}")

name= input("enter student name:")

education= input("enter higher education:")

skill= input("enter primary skill:")

graduation_year= input("enter year of graduation:")

print("\n enter job role requirement")

required_skill = input("enter skill:")

required_education = input("enter higher education:")
required_year = input("enter year of graduation:")


for student in students:
    name, education, skill, graduation_year = student
    if skill == required_skill and education ==required_education and graduation_year == required_year:
        shortlisted_candidates.append(student)

    if shortlisted_candidates:
        for candidate in shortlisted_candidates:
            print(candidate)
else:
    print("no such candidate")

enter no. of records: 1

enter details of student-1

enter student name: rutuja
enter higher education: 3rd year
enter primary skill: communication
enter year of graduation: 2025

 enter job role requirement

enter skill: developer
enter higher education: bsc(cs)
enter year of graduation: 2025

no such candidate

# SET...

## Q1.Write a program to find set of common elements in three lists using sets.

In [1]:
ar1={1,5,10,20,40,80}
ar2={6,7,20,80,100}
ar3={3,4,15,20,30,70,80,120}
print("the common elements are:")
print(ar1.intersection(ar2,ar3))

the common elements are:
{80, 20}

## Q2.Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

In [2]:
str1=("hands-on data sciene mentorship program with live classes at affordable fee only on campusX")
vowels=("a","e","i","o","u")
count=sum(str1.count(vowel)for vowel in vowels)
print("the no of unique vowels are:")
print(count)

the no of unique vowels are:
28

## Q3.Write a program to check if a given string is binary string of or not.

In [4]:
i=int(input("enter the numbers:"))
s={'0','1'}
if s==i:
    print("the string is not binary string")

else:
    print("the string is binary string")

enter the numbers: 7

the string is binary string

## Q4.Find union of n arrays.

In [5]:
a=[[1,2,2,4,3,5],[5,1,3,4],[9,5,7,1],[2,4,1,3]]
b=set()
for i in a:
    b.update(i)

print(b)

{1, 2, 3, 4, 5, 7, 9}

## Q5.Intersection of two lists.Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list.Only use using "list comprehension".

In [92]:
lst1={15,9,10,56,23,78,5,4,9}
lst2={9,4,5,36,47,26,10,45,87}

intersection_list=[x for x in lst1 if x in lst2]
print(intersection_list)

[4, 5, 9, 10]

# DICTIONARY

## Q1.Key with maximum unique values.

In [20]:
test_dict={"campusX":[5,7,9,4,0],
           "is":[6,7,4,3,3],
           "Best":[9,9,6,5,5]}
print("the originak dic:")
print(test_dict)

max_val=0
max_key=None

for sub in test_dict:


    if len(set(test_dict[sub])) > max_val:
        max_val = len(set(test_dict[sub]))
        max_key=sub
print("key with maximum unique values:" + str(max_key))

the originak dic:
{'campusX': [5, 7, 9, 4, 0], 'is': [6, 7, 4, 3, 3], 'Best': [9, 9, 6, 5, 5]}
key with maximum unique values:campusX

## Q2.Replace words from Dictionary.Given string,replace its words from lookup dictionary.

In [32]:
test_str= "campusx best for DS students."

print(test_str)

rep1_dict = {"best": "is the best channel" , "DS": "Data Science"}

temp= test_str.split()
res=[]
for wrd in temp:

    res.append(rep1_dict.get(wrd, wrd))

res=''.join(res)

print("replaced strings: "+str(res))

campusx best for DS students.
replaced strings: campusxis the best channelforData Sciencestudents.

## Q3.Convert list to list of dictionaries. Given list values and keys list,convert these values to key value pairs in form of list of dictionaries.

In [33]:
d1=["Data Science", 3,"is",8]
print("the original list is:")
print(d1)
d2=["name", "id"]

n=len(d1)
res=[]
for idx in range(0, n , 2):
    res.append({d2[0]: d1[idx], d2[1]: d1[idx + 1]})

print("the constructed dictionary list: ")
print(res)

the original list is:
['Data Science', 3, 'is', 8]
the constructed dictionary list:
[{'name': 'Data Science', 'id': 3}, {'name': 'is', 'id': 8}]

## Q4.Convert a list of Tuples into dictionary.

In [29]:
def Convert(tup, di):
    for a, b in tup:
        di.setdefault(a, []).append(b)
        return di

tups= [("shruti",10), ("rutuja",12), ("janki",14),
        ("aditi",20), ("siya",25), ("diya",30)]
dictionary={}
print(Convert(tups,dictionary))

{'shruti': [10]}

## Q5.Sort Dictionary key and valus list.

In [30]:
a1= {'c':[3],'b':[12,10],'a':[19,4]}
print("the original dictionary is: ")
print(a1)

res= {key : sorted(a1[key]) for key in sorted(a1)}

print("the sorted dictionary: ")
print(res)

the original dictionary is:
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
the sorted dictionary:
{'a': [4, 19], 'b': [10, 12], 'c': [3]}